{:ldap
 {:con
  {:host [{:address "example.com"}]
   :bind-dn "CN=user-name,OU=user-group,OU=user-group,OU=part,DC=of,DC=domain,DC=name"
   :password "-redacted-"
   :timeout         5000
   :connect-timeout 5000
   :ssl?            true}
  :auth {:user-domain "example.com"
         :search-base "OU=part,DC=of,DC=domain,DC=name"
         :search-attribute "sAMAccountName"
         :attributes [:mail :displayName]
         }}}
