@import 'shamrock/src/styles/shamrock';
@import 'layout';
@import 'header';

ol.form {
    li {
        /* missing from shamrock forms */
        input[type="password"].short {
            width: 200px;
        }
    }
}

#primary-navigation .sr-primary-nav h2 {
    color: white;
    margin: 15px;
}

img.lightning {
    height: 30px;
    padding-left: 20px;
    float: left;
}
